# Dépendances
node_modules/

# Variables d’environnement
.env
.env.*.local

# Fichiers de log
*.log

# Bases locales (à ne jamais committer)
*.sqlite
*.db

# Dossiers de build éventuels
dist/
build/

# Prisma (⚠️ on garde le schéma !)
# .prisma/  ❌ NE PAS IGNORER
